{% if enable_cache %}
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
{% if cache_key == "pip" -%}
{% raw %}
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
{% endraw %}
{% elif cache_key == "npm" -%}
{% raw %}
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
{% endraw %}
{% elif cache_key == "yarn" -%}
{% raw %}
          path: .yarn/cache
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
{% endraw %}
{% elif cache_key == "pnpm" -%}
{% raw %}
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-
{% endraw %}
{% elif cache_key == "maven" -%}
{% raw %}
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
{% endraw %}
{% elif cache_key == "gradle" -%}
{% raw %}
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
{% endraw %}
{% elif cache_key == "go" -%}
{% raw %}
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
{% endraw %}
{% elif cache_key == "cargo" -%}
{% raw %}
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
{% endraw %}
{% elif cache_key == "composer" -%}
{% raw %}
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-
{% endraw %}
{% elif cache_key == "bundler" -%}
{% raw %}
          path: vendor/bundle
          key: ${{ runner.os }}-bundler-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-bundler-
{% endraw %}
{% elif cache_key == "nuget" -%}
{% raw %}
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
{% endraw %}
{% elif cache_key == "spm" -%}
{% raw %}
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
{% endraw %}
{% endif %}
{% endif %}
